body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.buttons {
    display: flex;
}

a {
    display: inline-block;
    padding: 12px 24px;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    background-color: black;
    border-radius: 3px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: red;
}

input{
    margin: 5px;
}

footer{
    position: absolute;
    bottom: 0;
}